
.probe
.vscode
downloads
local
logs
mods
patchouli_*
PCL
resourcepacks
saves
simplebackups
realms_*
user*.json
command_history.txt
Dramatic Skys Demo
test.*
emi.json
kubejs/assets/emendatusenigmatica/models/block/*.json
kubejs/data/emendatusenigmatica/loot_table/blocks/*.json
crash-reports
natives-windows-x86_64
hmclversion.cfg
log4j2.xml
shaderpacks
config/jei/
StellarisSpace.*
StellarisSpace-*
