
.probe
.vscode
/downloads
/local
/logs
MirrorTree*
/mods
patchouli_*
/PCL
resourcepacks
saves
simplebackups
realms_*
user*.json
command_history.txt
Dramatic Skys Demo
test.*
emi.json
/kubejs/assets/emendatusenigmatica/models/block/*.json
/kubejs/data/emendatusenigmatica/loot_table/blocks/*.json
/kubejs/config/probe-settings.json